.stApp{

background-image:url(
"https://images.unsplash.com/photo-1500382017468-9049fed747ef"
);

background-size:cover;

background-repeat:no-repeat;

background-attachment:fixed;

}

[data-testid="stSidebar"]{

background:rgba(
0,
0,
0,
0.7
);

}

div[data-testid="metric-container"]{

background:rgba(
255,
255,
255,
0.15
);

padding:20px;

border-radius:15px;

backdrop-filter:blur(10px);

margin:5px;

}

h1,h2,h3,p{

color:white;

}